/.vs

# Vcxproj 
*.vcxproj.user

# output folder
out/

# claude
.claude/

# Premake exe
premake/

# DirectXTex
vendor/DirectXTex/Shaders/Compiled/*
externals/DirectXTex/Shaders/Compiled/*

# Doxygen generated documentation
Docs/html/
Docs/latex/
Docs/xml/
Docs/rtf/

# pdb
*.pdb
